.centerized {
    text-align: center;
    align-content: center;
    justify-content: center;
}

.full-scale{
    height:100%;
    width:100%;
}


.connecting {
    background-color: blue;
}

.connected {
    background-color: green;
}

.disconnected {
    background-color: darken(red,5);
}

.disconnected-text {
    color: lighten(red,10);
}

:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {   
    stroke:white;
}

.centered-spinner{
    margin:0 auto; 
}

.relay-div {
    margin:5px;
}

.relay-button{
    line-height: 30px;
}


.icon-text {
    display: flex;
    align-items: center;
}

.mat-icon{
    margin-right: 5px;
}

.error {
    color: lighten(red,10);
}

.warning {
    color: lighten(orange,10);
}

.operator-content{
    max-height:65vh;
    overflow: auto;
}

.large-icon {
    width:20vh;
    height:100%;
}
.info-icon {
    width:15vh;
    height:100%;
}

.medium-icon {
    width:10vh;
    height:50%;
}

.small-icon {
    width:5vh;
    height:25%;
}


mat-icon.mat-card-avatar {
    width: auto;
    height: auto;
    font-size: 6em;
  }

  mat-icon.mat-list-avatar {
    width: auto !important;
    height: auto !important;
    font-size: 4em;
  }