<mat-grid-list rowHeight="1:3.5" cols="8">

    <mat-grid-tile colspan="2">
        <mat-card class="full-scale">
            <mat-card-header class="centerized">
                <mat-card-title >
                    <mat-icon class="medium-icon" svgIcon="success_pc"></mat-icon>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
         
                <mat-action-list class="operator-content">
                    <mat-list-item  *ngFor="let operator of operatorService.operators">
                        <mat-icon matListAvatar *ngIf="operator.is_anonymous"> live_help </mat-icon>
                        <mat-icon matListAvatar *ngIf="!operator.is_anonymous"> verified_user </mat-icon>
                      <h3 matLine [innerHTML]="operator.name"> </h3>
                      <p matLine>
                        <strong [innerHTML]="operator.channel_id"></strong>
                        <span
                            *ngIf="(operatorService.myself != null && operatorService.myself.channel_id === operator.channel_id)">
                            (Vous) </span>
                      </p>
                           <p matLine>
                            <span> Drone contrôlé : </span>
                            <span [innerHTML]="operator.controlled_drone"> </span>
                      </p>
                    </mat-list-item>
                </mat-action-list>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>


    <mat-grid-tile colspan="1">
        <mat-card >
            <mat-card-content class="centerized" >
                <mat-icon class="large-icon" [svgIcon]="PcToHubStatus[SocketStatus[socketConnection]]"></mat-icon>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="2">
        <mat-card class="full-scale">
            <mat-card-header class="centerized">
                <mat-card-title>
                    <mat-icon class="medium-icon"  [svgIcon]="HubStatus[health.isRelayReachable ? 'connected': 'disconnected']"></mat-icon>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content  class="operator-content">
                <p><strong>Derniers statuts du programme de contrôle</strong> </p>
                <div *ngFor="let system of getKeys(health.healthMonitor)">
                    
                    <strong [innerHTML]="System[system]"></strong>
                    <a mat-button (click)="brainModuleRestart(system, subsystem)" [ngClass]="{'disconnected-text': (health.healthMonitor.get(system).get(subsystem) == false)}" class="icon-text relay-button" [disabled]="health.healthMonitor.get(system).get(subsystem) ? 'disabled': null"*ngFor="let subsystem of getKeys(health.healthMonitor.get(system))">
                        <mat-icon>
                            {{health.healthMonitor.get(system).get(subsystem) ? 'check_circle' : 'remove_circle'}}
                        </mat-icon>
                        <span [innerHTML]="SubSystem[subsystem]"></span>
                    </a>

                    
                </div>

                <span class="relay-div" *ngFor="let drone of dronedata.droneStatuses">
                    <div *ngFor="let system of getKeys(moduleStatus(drone.name))">
                        <strong [innerHTML]="System[system] + ' dédié à ' + drone.name"></strong>
                        <a mat-button [ngClass]="{'disconnected-text': (moduleStatus(drone.name).get(system).get(subsystem) == false)}" (click)="externalModuleRestart(drone.name, System[system], SubSystem[subsystem])" class="icon-text relay-button" *ngFor="let subsystem of getKeys(moduleStatus(drone.name).get(system))" [disabled]="moduleStatus(drone.name).get(system).get(subsystem) ? 'disabled': null"> 
                            <mat-icon>
                                {{moduleStatus(drone.name).get(system).get(subsystem) ? 'check_circle' : 'remove_circle'}}
                            </mat-icon>
                            <span [innerHTML]="SubSystem[subsystem]"></span>
                        </a>
                    </div>
                </span>
      

            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="1">
        <mat-card>
            <mat-card-content>
                <mat-list>
                    <mat-list-item *ngFor="let drone of dronedata.droneStatuses">
                        <h3 matLine [innerHTML]="drone.name"> </h3>
                        <mat-icon matLine class="large-icon"
                        [svgIcon]="HubToAutomatonStatus[DroneConnectionStatus[drone.droneStatus]]"></mat-icon>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="2">
        <mat-card class="full-scale">
            <mat-card-header class="centerized">
                <mat-card-title >
                    <mat-icon class="medium-icon" svgIcon="locuste_pydrone"></mat-icon>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="operator-content">
     
                <div class="relay-div" *ngFor="let drone of automatonMonitoring.availableAutomatons">
                    <div class="centerized">
                        <strong [innerHTML]="drone"></strong>
                    </div>
                    <div class="centerized">
                       
                        <mat-icon class="medium-icon"
                            [svgIcon]="AutomatonStatus[automatonStatus(drone).available && automatonStatus(drone).connected && automatonStatus(drone).ongoing ? 'connected': 'disconnected']">
                        </mat-icon>
                    </div>

                    <div class="icon-text" *ngFor="let key of availableFields(automatonStatus(drone))" [ngClass]="displayStatus(StatusToReadable[key], automatonStatus(drone)[key])">
                        <mat-icon>
                            {{automatonStatus(drone)[key] ? 'check_circle' : 'remove_circle'}}
                        </mat-icon>
                        <span [innerHTML]="StatusToReadable[key]"></span>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>


</mat-grid-list>