.centerized {
    text-align: center;
    align-content: center;
}

.mat-card{
    height:100%;
    width:100%;
}


.mat-card-actions {
    display:flex;
    justify-content: space-evenly;
}

.mat-card-header {
    display:flex;
    justify-content: space-evenly;
}


