
<mat-toolbar color="primary">
  <a mat-button routerLink="/">
    <mat-icon class="large-icon" svgIcon="locuste_icon"></mat-icon>
  </a>

 
  <a mat-button routerLink="/" >
    <mat-icon class="medium-icon" svgIcon="drone_icon"></mat-icon>
  </a>


  <a mat-button routerLink="/monitor">
    <mat-icon class="medium-icon"  [svgIcon]="HubStatus[isRelayReachable ? 'connected': 'disconnected']"></mat-icon>
  </a>

  <a mat-button routerLink="/monitor" >
    <mat-icon class="large-icon" [svgIcon]="PcToHubStatus[SocketStatus[socketConnection]]"></mat-icon>
  </a>
 
  
  <a mat-button routerLink="/map">
    <mat-icon class="medium-icon" svgIcon="{{isMapModuleOperational ? 'map_ready' : 'map_not_ready'}}"></mat-icon>
  </a>


  <a mat-button (click)="showHelp()">
    <mat-icon>help</mat-icon>
    <span> Menu d'aide </span>
  </a>

  <a mat-button (click)="authenticate()">
    <mat-icon>person</mat-icon>
    <span [innerHTML]="myself != null ? (myself.is_anonymous ? myself.channel_id : myself.name) : 'Aucun ID'"></span>
  </a>
</mat-toolbar>

<div class="main-container">
  <router-outlet></router-outlet>
</div>