
<h2 mat-dialog-title>Tutoriel</h2>
<mat-dialog-content>    
    <mat-tab-group>
        <mat-tab label="Contrôles basiques">
            <p>Z : Avancer</p>
            <p>S : Reculer</p>
            <p>Q : Aller à gaucher</p>
            <p>D : Aller à droite</p>
            <p>A : Tourner à gauche</p>
            <p>E : Tourner à droite</p>
            <p>Barre espace : Monter</p>
            <p>Ctrl : Descendre</p>
            <p>G : Atterissage au point de décollage</p>
            <p>T : Décoller</p>

            <p>Flèche vers le haut : Orienter la caméra vers le haut </p>
            <p>Flèche vers le bas : Orienter la caméra vers le bas </p>
            <p>R : Remttre la caméra à sa position initiale</p>
        </mat-tab> 
        <mat-tab label="Contrôles avancés">
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>