

html, body {
    position: fixed;
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    height: 100% !important; width: 100% !important;
}
.cdk-global-scrollblock{
    overflow-y: auto !important;
}

.high {
    background-color: green ;
  }
  
  .medium{
    background-color: orange ;
  }
  
  
  .low{
    background-color: red ;
  }
  
  .critical{
    background-color: darkred ;
  }

  mat-icon {
    svg {
      pointer-events: none;
     }
  }
